<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.movie_seat">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Movie_seat"
        tools:targetApi="31">
        <activity
            android:name=".Refragment_now_showing"
            android:exported="false" />
        <activity
            android:name=".Refragment_theatre"
            android:exported="false" />
        <activity
            android:name=".Descfragment_theatre"
            android:exported="false" />
        <activity
            android:name=".Descfragment_Movies"
            android:exported="false" />
        <activity
            android:name=".Refragment_Movies"
            android:exported="false" />
        <activity
            android:name=".UserSelection"
            android:exported="false" />
        <activity
            android:name=".Add_movie_admin"
            android:exported="false" />
        <activity
            android:name=".Add_theatre_admin"
            android:exported="false" />
        <activity
            android:name=".List_theatre_admin"
            android:exported="false" />
        <activity
            android:name=".Edit_movie_admin"
            android:exported="false" />
        <activity
            android:name=".Admin_dashboard"
            android:exported="false" />
        <activity
            android:name=".Admin_forgot_password"
            android:exported="false" />
        <activity
            android:name=".Admin_register"
            android:exported="false" />
        <activity
            android:name=".Admin_login"
            android:exported="false" />
        <activity
            android:name=".Now_showing"
            android:exported="false" />
        <activity
            android:name=".Movie_booking_loading"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>